// colors
$textDark: #2E2E2E;
$textLight:  #8D8B90;
$backgroundLight: #EAE1D7;
$border: #4078af;
$orange: #FFE588;
$red: #FF3306;
$yellow: #FFBC00;
$white: #ffffff;
$grey: #8D8B90;
$buttonHover: #FFE588;
$animation-speed: .4s;
